html,
body {
  height: 100%;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  color: #666;
  font-weight: bold;
}

.imgcontainer1 {
  background-image: url(./img/pexel1.avif);
  min-height: 80%;
}

.imgcontainer1,
.imgcontainer2,
.imgcontainer3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;

  border: 20px;
}
.textbg {
  background-color: white;
  padding: 20px;
}
.secTEXT {
  text-align: center;
  width: 100%;
}
.imgcontainer2 {
  background-image: url(./img/pexel2.jpg);
  min-height: 400px;
}
.imgcontainer3 {
  background-image: url(./img/pexel3.avif);
  min-height: 400px;
}
