* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aqua;
}

.container {
  max-width: 900px;
  background-color: grey;
  margin: 0 auto;
}

.title_small {
  font-size: 20px;
}

.content {
  max-width: 600px;
  background-color: aliceblue;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.form-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.formControl {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 15px;
  margin-bottom: 5px;
}

input,
select,
textarea {
  padding: 6px 10px;
  border: 1px solid rgb(106, 101, 101);
  border-radius: 4px;
  font-size: 15px;
}

input:focus {
  outline-color: brown;
}

.buttonContainer {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

button {
  background-color: red;
  border: 1px solid #000;
  color: aliceblue;
  padding: 8px;
  transition: 2s ease-in;
}

button:hover {
  color: black;
  background-color: #ccc;
  border: 1px solid purple;
  transition: 2s ease-out;
}

.textarea_Control {
  grid-column: 1 / span 2;
}

.textarea_Control textarea {
  width: 100%;
}

@media (max-width: 462px) {
  .textarea_Control {
    grid-column: 1 / span 1;
  }
}
